{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy | About</title>
{% endblock %}

{% block content %}
    <div class="wrapper">

        <div class="text_container">
            <p class="title_paragraph">Sobre o Foodfy</p>

            <div class="text_about">
                <p class="text_paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur blanditiis
                    cum
                    saepe eligendi quasi
                    numquam enim quibusdam atque aperiam. Esse deleniti a veritatis eaque excepturi veniam delectus nemo
                    harum quibusdam.</p>
                <p class="text_paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident
                    exercitationem
                    explicabo quia neque aliquam in obcaecati dolore, nihil animi nam assumenda quo asperiores cum
                    quibusdam
                    repellendus quasi et, facilis fuga.</p>
            </div>
        </div>

        <div class="text_container">
            <p class="title_paragraph">Como tudo começou...</p>

            <div class="text_about">
                <p class="text_paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi ducimus libero
                    beatae
                    numquam facere ab
                    nostrum architecto illum doloribus, exercitationem totam omnis et voluptatem necessitatibus eveniet
                    repudiandae excepturi fugit doloremque.</p>
                <p class="text_paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam accusantium,
                    placeat
                    sed, at nostrum fugiat possimus enim odit et aliquam aliquid autem adipisci cum est voluptas
                    officiis
                    laudantium quibusdam quam.</p>
            </div>
        </div>


        <div class="text_container">
            <p class="title_paragraph">Nossas receitas</p>

            <div class="text_about">
                <p class="text_paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam ex minima
                    laborum,
                    assumenda nemo vel
                    minus alias iste, incidunt explicabo, ad excepturi beatae molestias quia corporis itaque ut!
                    Placeat,
                    cumque!</p>
                <p class="text_paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ex veniam
                    nulla
                    totam
                    cumque ipsam. Iure unde magni nam sunt quibusdam tempore suscipit quisquam, distinctio dolorum
                    commodi
                    explicabo tempora debitis.</p>
            </div>
        </div>
    </div>

{% endblock %}