{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy | Main Page</title>
{% endblock %}


{% block content %}

    <div class="wrapper">

        <section class="banner">
            <div class="banner__info">
                <p class="banner__title">As melhores receitas</h1>
                <p class="banner__text">Aprenda a criar os melhores pratos com receitas criadas por profissionais do
                    mundo
                    inteiro.</p>
            </div>

            <div class="banner__image">
                <img src="/chef.png" alt="Foodfy Chef">
            </div>
        </section>

        <section class="cards">
            
            {% for item in items %}
            <div class="card" id="{{item.id}}">
                <div class="container__image">
                    <img src="{{item.image}}" alt="{{item.title}}">
                </div>

                <div class="container__title">
                    <p>{{item.title}}</p>
                </div>

                <div class="container__author">
                    <p>por {{item.author}}</p>
                </div>
            </div>
            {% endfor %}


            {# <div class="card" id="burger">
                <div class="container__image">
                    <img src="/burger.png" alt="">
                </div>

                <div class="container__title">
                    <p>Triplo burger bacon</p>
                </div>

                <div class="container__author">
                    <p>por Jorge Relato</p>
                </div>
            </div>

            <div class="card" id="pizza">
                <div class="container__image">
                    <img src="/pizza.png" alt="">
                </div>

                <div class="container__title">
                    <p>Pizza 4 estações</p>
                </div>

                <div class="container__author">
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card" id="espaguete">
                <div class="container__image">
                    <img src="/espaguete.png" alt="">
                </div>

                <div class="container__title">
                    <p>Espaguete ao alho</p>
                </div>

                <div class="container__author">
                    <p>por Júlia Kinoto</p>
                </div>
            </div>

            <div class="card" id="lasanha">
                <div class="container__image">
                    <img src="/lasanha.png" alt="">
                </div>

                <div class="container__title">
                    <p>Lasanha mac n'cheese</p>
                </div>

                <div class="container__author">
                    <p>por Juliano Vieira</p>
                </div>
            </div>

            <div class="card" id="doce">
                <div class="container__image">
                    <img src="/doce.png" alt="">
                </div>

                <div class="container__title">
                    <p>Docinhos pão-do-céu</p>
                </div>

                <div class="container__author">
                    <p>por Ricardo Golveia</p>
                </div>
            </div>

            <div class="card" id="asinhas">
                <div class="container__image">
                    <img src="/asinhas.png" alt="">
                </div>

                <div class="container__title">
                    <p>Asinhas de frango ao barbecue</p>
                </div>

                <div class="container__author">
                    <p>por Vania Steroski</p>
                </div>
            </div> #}

        </section>
    </div>

    <div class="modal_overlay">
        <div class="modal">

            <div class="modal_content">
                <iframe src="{{item.image}}" frameborder="0" scrolling="no"></iframe>
                <div class="modal_title"></div>
                <div class="modal_author"></div>
            </div>

            <div class="close_modal">
                <a href="">Fechar</a>
            </div>

        </div>
    </div>


{% endblock %}